*.tmp
*.bak
*.log
*.cachefile
*.Cache
*.exe
*.pyc
*.idea
*.ova
*.iso
*.rar
*.zip
*.tar
*.__pycache__
jenkins_user_inputs.txt
cred.py

[Ll]ogs/
[Rr]eports/
[Ii]magefiles/
[Aa]llure_results/
venv/
config/user_input.json